.footer-section {
  margin-top: -1px;
  padding: $lesser-section-gutter;
  background-color: $black;
}

.social-media-container {
  display: flex;
  justify-content: center;

  i {
    margin: $gutter / 2;
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $primary400;
    }
  }
}

.links-container {
  width: 100%;
  text-align: center;
}

.copyright {
  margin: $gutter / 2;
  color: $white;
  text-align: center;
}
