.hs-form {
  max-width: 100%;
  margin: 0 1.5rem;

  .hs-form-field {
    margin: 1rem 0;
  }

  .form-columns-1 .hs-input,
  .form-columns-2 .hs-input {
    width: 100% !important;
  }

  .input {
    margin-right: 0 !important;
  }

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="file"],
  textarea,
  select {
    width: 100%;
    margin: .5rem 0 0;
    border: 1px solid $accent-gray200;

    &:focus {
      outline: 0;
      border: 1px solid $accent-green400;
    }

    &.error {
      border-color: $error500;
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"] {
    padding: .5rem 1rem;
    border-radius: 25px;
  }

  textarea {
    padding: .5rem 1rem;
    border-radius: 5px;
    resize: vertical;
  }

  .hs_submit {
    width: 100%;

    .actions {
      text-align: center;
    }
  }

  input[type="submit"] {
    @extend %button;
  }

  .hs-error-msgs {
    margin: .5rem 0 1rem;
    padding: 0;
    list-style: none;
  }

  .hs-error-msgs label{
    color: $error500;
    font-size: 14px;
  }
}

@media all and (min-width: 37.5rem) {
  .hs-form {
    .input {
      margin-right: 8px !important;
    }
  }
}
