.schedule-container {
  display: flex;
  flex-wrap: wrap;
}

.schedule-header-date {
  flex: 1 100%;
  margin-top: 1.5rem;
  color: $black;
  text-align: center;
}

.schedule-track {
  display: flex;
  flex: 1 100%;

  &:nth-child(odd) {
    .schedule-time {
      background-color: $accent-green300;
    }

    .schedule-title {
      background-color: $accent-gray400;
    }
  }

  &:nth-child(even) {
    .schedule-time {
      background-color: $accent-green400;
    }

    .schedule-title {
      background-color: $accent-gray800;
    }
  }
}

.schedule-time {
  display: flex;
  flex: 1 65px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
  color: $black;
  font-family: $head-font;
}

.schedule-title {
  flex: 1 60%;
  padding: 1rem;
  color: $white;
}

@media all and (min-width: 70rem) {
  .schedule-container {
    flex-wrap: nowrap;
  }

  .schedule-track {
    flex: 10%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 .25rem;
  }

  .schedule-time {
    flex: 1 100%;
    justify-content: center;
    padding: 1rem 0;
  }
}
